html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    width: 800px;
    height: 800px;
    text-align: center;
}
.button-container {
    margin: 0 auto;
    width: 700px;
    height: 700px;
    padding: 20px;
    margin-top: 50px;
}

.button {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 20px;
    border: 3px solid #fff;
    border-radius:50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.red-glow {
    background:#ef5d22;
    background-color: #ff4b4b !important;
    box-shadow: 0 0 30px #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blue-glow {
    background:#ef5d22;
    background-color: #4286f4 !important;
    box-shadow: 0 0 30px #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.green-glow {
    background:#ef5d22;
    background-color: #1ff91f !important;
    box-shadow: 0 0 30px #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.yellow-glow {
    background:#ef5d22;
    background-color: #fefe75 !important;
    box-shadow: 0 0 30px #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}
