html,
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.button-container {
    margin: 0 auto;
    width: 280px;
    height: 280px;
}

.button {
    display: inline-block;
    width: 40%;
    height: 40%;
    border: 3px solid #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    .button-container {
        width: 280px;
        height: 280px;
        padding: 0px;
        margin-top: 10px;
    }

    .button {
        border-radius: 10px;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    .button-container {
        width: 350px;
        height: 350px;
        margin-top: 30px;
    }

    .button {
        border-radius: 30px;
    }
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .button-container {
        width: 550px;
        height: 550px;
        margin-top: 30px;
    }

    .button {
        border-radius: 30px;
    }
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {

    .button-container {
        width: 600px;
        height: 600px;
        margin-top: 30px;
    }

    .button {
        border-radius: 40px;
    }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {

    .button-container {
        width: 800px;
        height: 800px;
        margin-top: 50px;
    }

    .button {
        border-radius: 40px;
    }
}

.red-glow {
    background: #ef5d22;
    background-color: #ff4b4b !important;
    box-shadow: 0 0 30px #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.blue-glow {
    background: #ef5d22;
    background-color: #4286f4 !important;
    box-shadow: 0 0 30px #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.green-glow {
    background: #ef5d22;
    background-color: #1ff91f !important;
    box-shadow: 0 0 30px #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.yellow-glow {
    background: #ef5d22;
    background-color: #fefe75 !important;
    box-shadow: 0 0 30px #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#red {
    background-color: #cc2936;
}

#blue {
    background-color: #08415c;
}

#green {
    background-color: #88ab75;
}

#yellow {
    background-color: #dbd56e;
}
